<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
<meta charset="utf-8" />
<meta name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>SBS Team Project</title>
<!-- Favicon-->
<link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
<!-- Bootstrap icons-->
<link
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
    rel="stylesheet" type="text/css" />
<!-- Google fonts-->
<link
    href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic"
    rel="stylesheet" type="text/css" />
<!-- Core theme CSS (includes Bootstrap)-->
<link href="/css/styles.css" rel="stylesheet" />
<link href="/css/calendar.css" rel="stylesheet" />
</head>
<body>
<!-- Navigation-->
<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <a class="navbar-brand" href="/">SBS</a> <a
            class="btn btn-primary" href="#signup">ACTIVITY : DETAIL</a>
    </div>
</nav>
<!-- Masthead-->
<header class="masthead">
    <div class="row">
        <div class="col-sm">
            <div class="my-2">
            </div>
        </div>
    </div>
</header>
<!-- Icons Grid-->
<div class="container position-relative">
    
</div>

<section class="features-icons bg-light">

    <div class="container">

        <div class="row">
            <div layout:fragment="content" class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="card-header">
                        <h1>활동명 : </h1>
                    </div>
                    
                    <div class="card-body">
                        <form>
                            <div class="my-2">
                                <label for="activityId" class="form-label">글 번호</label>
                                <input id="activityId" class="form-control" th:value="${ activity.activityId }" readonly />
                            </div>
                            <div class="my-2">
                                <label for="play" class="form-label">제목</label>
                                <input id="play" class="form-control" th:value="${ activity.play }" readonly />
                            </div>
                            <div class="my-2">
                                <label for="place" class="form-label">장소</label>
                                <textarea id="place" class="form-control" th:text="${ activity.place }" readonly></textarea>
                            </div>
                            <div class="my-2">
                                <label for="budget" class="form-label">활동 금액</label>
                                <input id="budget" class="form-control" th:value="${ activity.budget }" readonly />
                            </div>
                            <div class="my-2">
                                <label for="createdTime"
                                    class="form-label">작성 시간</label>
                                <input id="createdTime"
                                    class="form-control"
                                    th:value="${ #temporals.format(activity.createdTime, 'yyyy-MM-dd HH:mm:ss') }"
                                    readonly />
                            </div>
                            <div class="my-2">
                                <label for="modifiedTime"
                                    class="form-label">수정 시간</label>
                                <input id="modifiedTime"
                                    class="form-control"
                                    th:value="${ #temporals.format(activity.modifiedTime, 'yyyy-MM-dd HH:mm:ss') }"
                                    readonly />
                            </div>
                             
                            <div class="my-2">
                                <label for="startTime"
                                    class="form-label">활동 날짜</label>
                                <input id="startTime"
                                    class="form-control"
                                    th:value="${ #temporals.format(activity.startTime, 'yyyy-MM-dd HH:mm:ss') }"
                                    readonly />
                            </div>
                            
                        </form>
                        <div class="my-2">
                            <a class="btn btn-primary" th:href="@{ /activity/modify?id={id} (id = ${ activity.activityId }) }">수정</a>
                        </div>
                    </div>
                </div>
                
                <hr/>
                <!-- 
                <div class="card my-4">
                    <div class="card-header">
                        <div class="col-4">
                            <!-- 로그인 아이디로 댓글 작성자 아이디를 자동 삽입. readonly -->
                          <!--   
                        <input type="text" class="form-control" id="writer" />
                    </div>
                </div>
                <div class="card-body row">
                    <div class="col-10">
                        <textarea class="form-control"
                            id="replyText" placeholder="댓글 작성"></textarea>
                    </div>
                    <div class="col-2">
                        <button
                            class="btn btn-outline-secondary"
                            id="btnReplyRegister">등록</button>
                    </div>
                </div>
            </div>

            <hr />
            <div id="replies"></div>

            <!-- 댓글 수정/삭제 Modal -->
            <!-- 
            <div class="modal fade" id="replyModal"
                tabindex="-1" aria-labelledby="replyModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5"
                                id="replyModalLabel">댓글 수정</h1>
                            <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <!-- 댓글 아이디 삽입 위치 -->
                            <!-- 
                            <input type="hidden"
                                id="modalReplyId" readonly />
                            <!-- 댓글 내용 삽입 위치 -->
                            <!-- 
                            <textarea id="modalReplyText"
                                class="form-control"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button"
                                class="btn btn-outline-secondary"
                                data-bs-dismiss="modal">취소</button>
                            <button type="button"
                                id="modalBtnDelete"
                                class="btn btn-outline-danger">삭제</button>
                            <button type="button"
                                id="modalBtnUpdate"
                                class="btn btn-outline-success">수정
                                완료</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end modal -->

            </div>
        </div>
    </div>
</section>

<!-- Call to Action-->
<section class="call-to-action text-white text-center" id="signup">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <p>밑단</p>
        </div>
    </div>
</section>
<!-- Footer-->
<footer class="footer bg-light">
    <div class="container">
        <div class="row">
            <div
                class="col-lg-6 h-100 text-center text-lg-start my-auto">
                <ul class="list-inline mb-2">
                    <li class="list-inline-item"><a href="#!">검색</a></li>
                    <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item"><a href="#!">마이페이지</a></li>
                    <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item"><a href="#!">모임
                            참석</a></li>
                    <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item"><a href="#!">공지
                            사항 Policy</a></li>
                </ul>
                <p class="text-muted small mb-4 mb-lg-0">&copy;
                    Footer</p>
            </div>
            <div
                class="col-lg-6 h-100 text-center text-lg-end my-auto">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item me-4"><a
                        href="#!"><i class="bi-facebook fs-3"></i></a>
                    </li>
                    <li class="list-inline-item me-4"><a
                        href="#!"><i class="bi-twitter fs-3"></i></a>
                    </li>
                    <li class="list-inline-item"><a href="#!"><i
                            class="bi-instagram fs-3"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- Bootstrap core JS-->
<!-- Bootstrap core JS-->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

<!-- Axios -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<!-- Core theme JS-->
<script th:src="@{/js/reply.js}"></script>
</body>
</html>
