<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

</head>
    <footer th:fragment="footer" class="footer" style="clear: left; background-color: #282c37;">
    <div class="container">
        <div class="row">
            <div
                class="col-lg-6 h-100 text-center text-lg-start my-auto">
                <ul class="list-inline mb-2">
                    <li class="list-inline-item"><a href="/">HOME</a></li>
                    <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item"><a href="/">마이페이지</a></li>
                    <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item"><a href="/">공지 사항</a></li>
                </ul>
                <p class="text-muted small mb-4 mb-lg-0">&copy;
                    SBSProject :: su :: choo :: lee :: jang :: kim :: kim .com ..;</p>
            </div>
            <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item me-4"><a href="#!"><i
                            class="bi-facebook fs-3"></i></a></li>
                    <li class="list-inline-item me-4"><a href="#!"><i
                            class="bi-twitter fs-3"></i></a></li>
                    <li class="list-inline-item"><a href="#!"><i
                            class="bi-instagram fs-3"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
</html>