<!DOCTYPE html>
<html 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="utf-8" />
<title>SBS - 비밀번호 변경</title>
<!-- Core theme CSS (includes Bootstrap)-->
<link th:href="@{ /css/styles.css }" rel="stylesheet" />
</head>
<body id="page-top"
        style="margin: 0 15vw 0 15vw; background-color: ghostwhite">
    <div class="container-fluid">
        <div class="my-2 p-4 bg-secondary text-white text-center rounded">
            <h1>비밀번호 변경 페이지</h1>
        </div>        
        <div class="my-2">
            <form id="formPasswordChange">
                <div class="my-2">
                    <label for="userName" class="form-label" style="color: #2b90d9">유저 이름</label> 
                    <input type="text" id="userName" class="form-control" name="userName"  th:value="${ user.userName }" readonly />
                </div>
                <div class="my-2">
                    <label for="passwordn" class="form-label" style="color: #2b90d9">현재 비밀번호</label>
                    <input type="password" id="passwordn" class="form-control" name="passwordn"/>
                </div>
                <div class="my-2" id="pinput">
                    <p class="text-info">비밀번호를 입력해주세요.</p>
                </div> 
                <div class="my-2 d-none" id="pcheck">
                    <p class="text-danger">비밀번호가 올바르지 않습니다.</p>
                </div>
                <div class="my-2 d-none">
                    <label for="userId" class="form-label" style="color: #2b90d9">유저 아이디</label> 
                    <input type="number" id="userId" class="form-control" name="userId"  th:value="${ user.userId }" readonly />
                </div>
                <div class="my-2">
                    <label for="passwordc" class="form-label" style="color: #2b90d9">변경 비밀번호</label>
                    <input type="password" id="passwordc" class="form-control" name="passwordc"/>
                </div>  
                <div class="my-2">
                    <label for="password" class="form-label" style="color: #2b90d9">비밀번호 확인</label>
                    <input type="password" id="password" class="form-control" name="password"/>
                </div>
                <div class="my-2 d-none" id="pok">
                    <p class="text-success">비밀번호가 확인 되었습니다.</p>
                </div>
                <div class="my-2 d-none" id="pnok">
                    <p class="text-danger">비밀번호가 서로 다릅니다.</p>
                </div>
            </form>  
            
            <div class="row">
                <div class="col-6">
                    <button class ="btn btn-outline-primary form-control col-6 disabled" id="btnChange">비밀번호 변경</button>
                </div>
                <div class="col-6">
                    <button class ="btn btn-outline-danger form-control col-6" id="btnCancel">뒤로가기</button>
                </div>
            </div>
        </div>

        
    </div> <!-- end content -->
    
            <!-- Footer-->
        <footer class="footer" style="clear: left;">
            <div class="container">
                <div class="row">
                    <div
                        class="col-lg-6 h-100 text-center text-lg-start my-auto">
                        <ul class="list-inline mb-2">
                            <li class="list-inline-item"><a
                                href="/">HOME</a></li>
                            <!--                         <li class="list-inline-item">⋅</li> -->
                            <!--                         <li class="list-inline-item"> -->
                            <!--                             <a href="/">마이페이지</a> -->
                            <!--                         </li> -->
                            <!--                         <li class="list-inline-item">⋅</li> -->
                            <!--                         <li class="list-inline-item"> -->
                            <!--                             <a href="/">공지 사항</a> -->
                            <!--                         </li> -->
                        </ul>
                        <p class="text-muted small mb-4 mb-lg-0">
                            &copy; SBSProject :: su :: choo :: lee ::
                            jang :: kim :: kim</p>
                    </div>
                    <div
                        class="col-lg-6 h-100 text-center text-lg-end my-auto">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item me-4"><a
                                href="https://ko-kr.facebook.com/">
                                    <i class="bi-facebook fs-3"></i>
                            </a></li>
                            <li class="list-inline-item me-4"><a
                                href="https://twitter.com/"> <i
                                    class="bi-twitter fs-3"></i>
                            </a></li>
                            <li class="list-inline-item"><a
                                href="https://www.instagram.com/"> <i
                                    class="bi-instagram fs-3"></i>
                            </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script th:src=" @{ /js/passwordChange.js}"></script>
</body>
</html>