<!DOCTYPE html>
<html 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    
<head>
    <meta charset="UTF-8">
    <title>네이버 로그인</title>
    <link rel="stylesheet" href= "/css/signIn.css">
</head>

<body>

    <div class="main" >
<!--         웹페이지 상단 -->
        <header>
            <div class="logo" style="margin-bottom: 40px;">
                <a th:href="@{ / }">
                    <img th:src="@{ /image/sbs.png }" class="image">
                </a>
            </div>
        </header>

        <!--로그인 부분-->
        <section class="login-wrap">
            <form method="post">
                <div class="login-id-wrap">
                    <input id="input-id" placeholder="아이디" type="text" name="username"/>
                </div>
                <div class="login-pw-wrap">
                    <input id="input-pw" placeholder="비밀번호" type="password" name="password"/>
                </div>
                <div class="login-btn-wrap">
                    <input id="btnSubmit" value="로그인" type="submit" />
                </div>            
            </form>

        </section>

<!--         class,PW 찾기 및 회원가입 부분 -->
<!--         <section class="find-signup-wrap"> -->

<!--             <div id="find-signup-wrap-ko"> -->
<!--                 <span class="find-id"> -->
<!--                     <a href="https://nid.naver.com/user2/help/idInquiry?lang=ko_KR" target="_blank" title="QR코드 로그인">아이디 -->
<!--                         찾기</a> -->
<!--                 </span> -->

<!--                 <span class="find-pw"> -->
<!--                     <a href="https://nid.naver.com/user2/help/pwInquiry?lang=ko_KR" target="_blank" -->
<!--                         title="일회용번호 로그인">비밀번호 찾기</a> -->
<!--                 </span> -->

<!--                 <span class="sign-up"> -->
<!--                     <a href="./signup.html" target="_blank" -->
<!--                         title="일회용번호 로그인">회원가입</a> -->
<!--                 </span> -->
<!--             </div> -->

<!--             <div id="find-signup-wrap-en" style="display:none;"> -->
                
<!--                 <span class="find-id-en"> -->
<!--                     <span>Forgot your</span>  -->
<!--                     <a href="https://nid.naver.com/user2/help/idInquiry?lang=ko_KR" target="_blank" title="QR코드 로그인">Username</a> -->
<!--                 </span> -->

<!--                 <span class="find-pw"> -->
<!--                     <span>or</span>  -->
<!--                     <a href="https://nid.naver.com/user2/help/pwInquiry?lang=ko_KR" target="_blank" -->
<!--                         title="일회용번호 로그인">Password?</a> -->
<!--                 </span> -->

<!--                 <span class="sign-up"> -->
<!--                     <a href="https://nid.naver.com/user2/V2Join?m=agree&lang=ko_KR" target="_blank" -->
<!--                         title="일회용번호 로그인">Sign up</a> -->
<!--                 </span> -->
<!--             </div> -->


<!--         </section> -->

        <!--저작권 정보-->
<!--         <footer> -->
<!--             <div class="copyright-wrap"> -->
<!--                 <span> <img src="image/NAVER_LOGO.png" width=70px> Copyright © NAVER Corp. All Rights Reserved.</span> -->
<!--             </div> -->
<!--         </footer> -->

    </div>

</body>

</html>