<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
<meta charset="utf-8" />
<meta name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>SBS Team Project</title>
<!-- Favicon-->
<link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
<!-- Bootstrap icons-->
<link
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
    rel="stylesheet" type="text/css" />
<!-- Google fonts-->
<link
    href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic"
    rel="stylesheet" type="text/css" />
<!-- Core theme CSS (includes Bootstrap)-->
<link href="/css/styles.css" rel="stylesheet" />
<link href="/css/calendar.css" rel="stylesheet" />
<link href="/css/postModify.css" rel="stylesheet" />
</head>
<body>
<header th:replace="fragments/header :: header"></header>

<!-- Icons Grid-->
<div class="container position-relative">
    
</div>

<section class="features-icons text-center">

    <div class="container">

        <div class="row">
            <div layout:fragment="content" class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="card-header">
                        <h1 style="color: #2b90d9;">게시글 :  : 수정</h1>
                    </div>
                    
                    <div class="card-body">
                        <form id="formModify">
                            <div class="my-4">
                                <label for="postId" class="form-label">글 번호</label>
                                <input id="postId" name="id" class="form-control" th:value="${ post.postId }" readonly />
                            </div>
                            <div class="my-4">
                                <label for="title" class="form-label">제목</label>
                                <input id="title" name="title" class="form-control" th:value="${ post.title }" autofocus />
                            </div>
                            <div class="my-4">
                                <label for="content" class="form-label">내용</label>
                                <textarea id="content" name="content" class="form-control" th:text="${ post.content }"></textarea>
                            </div>
                            <div class="my-4">
                                <label for="author" class="form-label">작성자</label>
                                <input id="author" name="author" class="form-control" th:value="${ post.author }" readonly />
                            </div>
                        </form>
                        <div class="my-4">
                            <button class="btn btn-danger" id="btnDelete">삭제</button>
                            <button class="btn btn-success" id="btnUpdate">수정 완료</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Footer-->
<footer th:replace="fragments/footer :: footer"></footer>

<!-- Bootstrap core JS-->
<!-- Bootstrap core JS-->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

 
<script layout:fragment="script">

const formModify = document.querySelector('#formModify');

// 삭제 이벤트 리스너.
const btnDelete = document.querySelector('#btnDelete');
btnDelete.addEventListener('click', function () {
    const result = confirm('정말 삭제하시겠습니까?');
    if (result) {
        formModify.action = '/post/delete';
        formModify.method = 'post';
        formModify.submit();
    }
});

// 수정 이벤트 리스너.
const btnUpdate = document.querySelector('#btnUpdate');
btnUpdate.addEventListener('click', function () {
    const title = document.querySelector('#title').value;
    const content = document.querySelector('#content').value;
    if (title == '' || content == '') {
        alert('제목과 내용은 반드시 입력.');
        return;
    }
    
    const result = confirm('정말 수정하시겠습니까?');
    if (result) {
        formModify.action = '/post/update';
        formModify.method = 'post';
        formModify.submit();
    }
});
</script>    
</body>
</html>






