@charset "UTF-8";
body {
       background-color: #282c37;
}
.features-icons {
    background-color: ghostwhite;
}

.my-2 {
    background-color:  #9baec8;  
    border-radius: 20px 20px 20px 20px;
    
}

.my-4 {
   background-color:  #9baec8;  
    border-radius: 20px 20px 20px 20px;
     
}


.col-lg-4 {
    background-color:  #9baec8; 
    border-radius: 20px 20px 20px 20px;
}


.features-icons{
    background-color: ghostwhite;
    
}


.form-control {
    border-radius: 10px 10px 10px 10px;
}
 
#pcheader {
    border-radius: 10px 10px 10px 10px;
}
