@charset "UTF-8";
*{color: #fff;}
body {
       background-color: #282c37;
    color: rgb(192, 192, 192);
}
.features-icons {
    background-color: #d9e1e8;
       color: rgb(233, 233, 233);
}

.my-2 {
    border-radius: 20px 20px 20px 20px;
    
}



.form-control {
    border-radius: 10px 10px 10px 10px;
}

