@charset "UTF-8";

/* calendar */
.calendar {
	width: 500px;
}

.calendar table {
	width: 100%;
}

.calendar table>caption {
	font-size: larger;
	font-weight: bolder;
	color: red;
	text-align: left;
	padding: 10px 20px;
}

.calendar table>thead>tr>th.saturday {
	color: dodgerblue;
}

.calendar table>thead>tr>th.sunday {
	color: red;
}

.calendar table>tbody>tr>td {
	text-align: center;
	vertical-align: top;
}

.calendar table>tbody>tr>td>span {
	display: block;
}

.calendar table>tbody>tr>td>span.today {
	border: 1px solid white;
	border-radius: 30%;
	color: white;
	background-color: dodgerblue;
}

.calendar table>tbody>tr>td>span.saturday {
	color: dodgerblue;
}

.calendar table>tbody>tr>td>span.sunday {
	color: red;
}

.calendar table>tbody>tr>td>span.holiday {
	color: red;
}

/* calendar month */
.calendar.month table>tbody>tr>td {
	padding: 10px 10px;
}

.calendar.month table>tbody>tr>td>span {
	padding: 10px 10px;
}

.calendar.month table>tbody>tr>td>span.today {
	padding: 9px 9px;
}
/* calendar year */
.calendar.year table {
	font-size: 12px;
}

.calendar.year table>thead>tr>th {
	font-weight: normal;
}

.calendar.year table>tbody>tr>td>span {
	padding: 2px 2px;
}

.calendar.year .calendar-month {
	height: 30px;
	font-size: 14px;
	font-weight: bolder;
	text-align: left;
	line-height: 30px;
	margin-left: 4px;
}

/* calendar-controls */
.calendar>.calendar-header {
	position: relative;
	height: 50px;
	display: table;
	margin-left: auto;
	margin-right: auto;
}

.calendar>.calendar-header>.calendar-yearmonth {
	display: inline-block;
	font-size: larger;
	font-weight: bolder;
	color: dodgerblue;
	line-height: 50px;
}

.calendar>.calendar-header>.calendar-controls {
	display: inline-block;
	vertical-align: top;
	margin: 11px 0 0 5px;
}

.calendar>.calendar-header>.calendar-controls>button {
	float: left;
	width: 25px;
	height: 28px;
	padding: 1px 4px 0 4px;
	border: 1px solid #cbcbcb;
	background-color: #fff;
	font-size: 12px;
	cursor: pointer;
}

.calendar>.calendar-header>.calendar-controls>button.calendar-today {
	width: 40px;
}
/* calendar-views */
.calendar>.calendar-header>.calendar-views {
	position: absolute;
	top: 11px;
	right: 0px;
}

.calendar>.calendar-header>.calendar-views>button {
	float: left;
	width: 40px;
	height: 28px;
	padding: 1px 4px 0 4px;
	border: 1px solid #cbcbcb;
	background-color: #f8f8f8;
	font-size: 12px;
	cursor: pointer;
}

.calendar>.calendar-header>.calendar-views>button.active {
	border-color: #7f4ac8 !important;
	background: #9155e5 !important;
	color: #fff;
}

/* calendar week */
.calendar.week table>tbody>tr>td {
	padding: 10px 10px;
	cursor : pointer;
}

.calendar.week table>tbody>tr>td>span {
	padding: 10px 10px;
	cursor : pointer;
}

.calendar.week table>tbody>tr>td>span.today {
	padding: 9px 9px;
}
.calendar.week table>tbody>tr>td>span.active {
	border: 2px solid red;
	border-radius: 30%;
	color: black;
	background-color: white;
}


.calendar-layout {
	display: table;
	margin-left: auto;
	margin-right: auto;
}


/* 활동 명단 css */
.imgSelect {
    cursor: pointer;
}

.popupLayer {
    position: absolute;
    display: none;
    background-color: #ffffff;
    border: solid 2px #d0d0d0;
    width: 350px;
    height: 150px;
    padding: 10px;
}
.popupLayer div {
    position: absolute;
    top: 5px;
    right: 5px
}

/*popup*/
.popup_layer {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10000;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
}
/*팝업 박스*/
.popup_box {
	position: relative;
	top: 50%;
	left: 50%;
	overflow: auto;
	height: 600px;
	width: 800px;
	transform: translate(-50%, -50%);
	z-index: 1002;
	box-sizing: border-box;
	background: #fff;
	box-shadow: 2px 5px 10px 0px rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: 2px 5px 10px 0px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 2px 5px 10px 0px rgba(0, 0, 0, 0.35);
}
/*컨텐츠 영역*/
.popup_box .popup_cont {
	padding: 50px;
	line-height: 1.4rem;
	font-size: 14px;
}

.popup_box .popup_cont h2 {
	padding: 15px 0;
	color: #333;
	margin: 0;
}

.popup_box .popup_cont p {
	border-top: 1px solid #666;
	padding-top: 30px;
}
/*버튼영역*/
.popup_box .popup_btn {
	display: table;
	table-layout: fixed;
	width: 100%;
	height: 70px;
	background: #ECECEC;
	word-break: break-word;
}

.popup_box .popup_btn a {
	position: relative;
	display: table-cell;
	height: 70px;
	font-size: 17px;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	background: #ECECEC;
}

.popup_box .popup_btn a:before {
	content: '';
	display: block;
	position: absolute;
	top: 26px;
	right: 29px;
	width: 1px;
	height: 21px;
	background: #fff;
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.popup_box .popup_btn a:after {
	content: '';
	display: block;
	position: absolute;
	top: 26px;
	right: 29px;
	width: 1px;
	height: 21px;
	background: #fff;
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.popup_box .popup_btn a.close_day {
	background: #5d5d5d;
}

.popup_box .popup_btn a.close_day:before, .popup_box .popup_btn a.close_day:after
	{
	display: none;
}
/*오버레이 뒷배경*/
.popup_overlay {
	position: fixed;
	top: 0px;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 1001;;
	background: rgba(0, 0, 0, 0.5);
}
/*popup*/