body{
    background-color: #9baec8;
    text-align: center;
}


div{
    color : black;
    text-decoration: none;
    text-align: center;
}

#main{
    
    
}

#label{
    background-color : #dae9f4;
}