@charset "UTF-8";
*{color: #fff;}
body {
       background-color: #282c37;
    color: rgb(192, 192, 192);
}

.col-lg-4 {
    background-color:  #9baec8; 
    border-radius: 20px 20px 20px 20px;
}


.features-icons{
    background-color: ghostwhite;
    color: #fff;
    
}


.form-control {
    border-radius: 10px 10px 10px 10px;
}
 
#pcheader {
    border-radius: 10px 10px 10px 10px;
}
.container {
	
	border: 1px;
	
}