@charset "UTF-8";
th, td {
                text-align: center;
            }
            
            th  {
                color: #2b90d9;
            }
            
            body {
                background-color: ghostwhite;
            }
            
            .container-body {
                width: 800px;
                background-color: ghostwhite;
                border: groove;
                border-radius: 5px;
                padding-left: 50px;
                padding-right: 50px;
                padding-bottom: 20px; 
                padding-top: 20px;
            }
            
            .container-create-body {
                width: 485px;
                background-color: ghostwhite;
                border: none;
            }
            
            .form-form {
                width:300px;
                border: 2px solid #2b90d9;
                border-radius: 5px;
                color: #282c37;
            }
             .form-fixed {
                background-color: ghostwhite;
                color: #9baec8;
            }
            .short-form {
                border: 2px solid #2b90d9;
                width: 45px;
                color: #282c37;
                border-radius: 5px;
                }
            
            .form-textarea {
                resize: none;
            }
            
            .form-create {
                width: 460px;
                height: 51px;
            }
            
            .form-create-textarea {
                width: 460px;
                height: 300px;
            }
            
            .form-image {
                padding: 5px;
            }
                
            img {
                border: 2px solid #2b90d9;
                border-radius: 10px;
                
            }