<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        
        <title>Team Create Page</title>
    </head>
    
    <body>
        <div>            
            <div>
                <h1>Create Team Page</h1>
            </div>
            
            <div>
<!--             회원 가입 양식 폼 -->
                <form method="post" enctype="multipart/form-data">
                
                    <div>
                        <input type="text" id="leader" name="leader" th:value=" ${ #authentication.name }" hidden />
                    </div>
                
                    <div>
                        <input type="text" id="teamName" name="teamName" placeholder="Team Name" required autofocus />
                    </div>
                    
                    <div id="availableId">
                        <p class="text-success">사용할 수 있는 팀 이름</p>
                    </div>
                    
                    <div id="unavailableId">
                        <p class="text-danger">사용할 수 없는 팀 이름</p>
                    </div>
                    
                    <div>
                        <input type="password" id="password" name="password" placeholder="Team Password" required />
                    </div>
                    
<!--                     이미지 업로드 -->
                    <div>
                        <label id="teamImage">Team Image</label> 
                        <input type="file" id="teamImage" name="teamImage" />
                    </div>
                    
                    <div>
                        <textarea name="purpose" id="purpose" cols="50" rows="10" placeholder="Team Purpose" required></textarea>
                    </div>
                    
<!--                     최대 인원 막대 -->
                    <div>
                        <label id="maxMember">Maximum Of Members : 25</label> 
                        <input type="range" class="form-range" min="1" max="50" id="rangeMaxMember" name="maxMember">
                    </div>
                    
                    <div>
                        <input type="submit" id="btnSubmit" value="Submit" />
                    </div>
                    
                </form>
    
            </div>
            
        </div>
    
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script th:src="@{ /js/scripts.js }"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script th:src="@{ /js/teamCreate.js }"></script>
    
    </body>

</html>