<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />        
        <link href="/css/styles.css" rel="stylesheet" />
        <link href="/css/teamConfig.css" rel="stylesheet" />
        <link href="/css/header.css" rel="stylesheet" />
    
        <title>Team Config Page</title>
    </head>

    <body>
    <header th:replace="fragments/header :: header"></header>
    

        <div class="container container-body mt-5 mb-3">
            <div class ="row mt-4 mb-4">
                <h2>팀 정보</h2>   
            </div>
            <form id="updateTeamForm" th:action="@{ /team/teamUpdate }" method="post" enctype="multipart/form-data">
                <div class = "row">
                    <div class = "col-6">
                    <input type="hidden" id="teamId" th:value="${ team.teamId } " name = "teamId" readonly/>
                        <div class="mb-3">
                            <strong><label for="teamName">팀 이름</label></strong><br/>
                            <input id="teamName" class="form-form" th:value="${ team.teamName }" name="teamName" required/>
                                <div class="my-2 d-none" id="ok">
                                    <p class="text-success">사용 가능한 아이디입니다.</p>
                                </div>
                                <div class="my-2 d-none" id="nok">
                                    <p class="text-danger">사용이 불가능한 아이디입니다.</p>
                                </div>          
                        </div>
                        <div class="mb-3">
                            <strong><label>팀 리더</label></strong><br/>
                            <input id="leader" class="form-form form-fixed" th:value="${ team.leader }" readonly />          
                        </div>
                        <div class="mb-3">
                            <strong><label for="purpose">팀 소개</label></strong><br/>
                            <textarea id="purpose" class="form-form form-textarea" th:text="${ team.purpose }" name="purpose"  required></textarea>        
                        </div> 
                        <div class="mb-3">
                            <strong><label>개설일</label></strong><br/>
                            <input id="createdTime" class="form-form form-fixed" th:value="${#temporals.format(team.createdTime, 'yyyy년 MM월 dd일 hh시 mm분')}" readonly />          
                        </div>                
                        <div class="mb-3">
                            <strong><label for="maxMember">최대 회원 수 </label></strong><br/>
                            <input id="maxMember" class="short-form" th:value="${ team.maxMember }" name="maxMember" required/><strong><span>명</span></strong>      
                        </div>
                    </div>  
                    <div class="col-6">
                        <div class="mb-3 px-4">    
                            <strong><label>메인 이미지</label></strong><br/>
                            <img id="teamImage" th:src="@{/image/display?fid={teamFid} (teamFid = ${team.fid}) }" width = 300px height = 200px />
                        </div>
                        <div class="px-4">
                            <strong><label id="teamImageModify">이미지 변경</label></strong>
                            <input type="file" id="teamImage" class="form-form form-image" name="teamImage" />
                        </div>
                    </div>
                </div>
                 <div class="row justify-content-center">
                    <div class="col-2">
                        <a class="btn btn-outline-primary btn-sm form-control" id="btnUpdateTeam">수정</a>
                    </div>
                 </div>           
            </form>
            
               <hr/>          
            <div class ="row mt-4 mb-4">
                <h3>비밀번호 변경</h3>
                
            </div>
            <form id="changeTeamPasswordForm">
                <div class="row">
                    <div class="mb-3">
                        <input type="hidden" th:value="${ team.teamId }" name="teamId" readonly />
                        <strong><label for="changePassword">변경할 비밀번호</label></strong><br/>
                        <input type="password" id="changePassword" class="form-form" name="changePassword"/>
                    </div>
                    <div class="mb-3">
                        <strong><label for="changePassword2">비밀번호 재입력</label></strong><br/>
                        <input type="password" id="changePassword2" class="form-form" name="changePassword2"/>
                    </div>
                        <div class="my-2 d-none" id="pok">
                            <p class="text-success">비밀번호가 확인 되었습니다.</p>
                        </div>
                        <div class="my-2 d-none" id="pnok">
                            <p class="text-danger">비밀번호가 서로 다릅니다.</p>
                        </div>
                 </div>
                 <div class="row justify-content-center">
                    <div class="col-2">
                        <a class="btn btn-outline-primary btn-sm form-control disabled" id="btnChangeTeamPassword">변경</a>
                    </div>
                 </div>
            </form>
            <hr/>
            <div class ="row mt-4 mb-4">
                <h3>멤버 관리</h3>
                
            </div>
                <form id="memberForm">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>아이디</th>
                                <th>이름</th>
                                <th>성별</th>
                                <th>생년월일</th>
                                <th>체크</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr th:each="member : ${ joinedMembers }" th:if="${member.userName != team.leader}">
                                <td th:text="${ member.userName }"></td>
                                <td th:text="${ member.nickname }"></td>
                                <td th:text="${ member.gender }"></td>
                                <td th:text="${ member.birthdate }"></td>
                            
                                <td>
                                    <input type="hidden" name="teamId" th:value="${ team.teamId }"/>
                                    <input type="checkbox" name="checkedMember[]" class="checkedMember" th:value="${ member.userName }"/>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    
                
                    <div class="row justify-content-center">
                        <div class="col-2" >
                            <a class="btn btn-outline-primary btn-sm form-control" id="btnKickOutMembers">탈퇴하기</a>
                        </div>
                        <div class="col-2" >
                            <a class="btn btn-outline-primary btn-sm form-control" id="btnHandOverLeader">양도하기</a>
                        </div>
                    </div>
                </form>
                
                <div class ="row mt-3 mb-3">
                    <hr/>
                    <form id="deleteTeamForm">
                    <div class="row justify-content-end">
                        <div class="col-2" >
                            <input type="hidden" th:value="${ team.teamId }" name="teamId" />
                            <a class="btn btn-outline-danger btn-sm form-control" id="btnDeleteTeam">모임 폐쇄</a>
                        </div>
                    </div>            
            </form>
                </div>
            </div> <!-- container ends -->
            <footer th:replace="fragments/footer :: footer"></footer>
       
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script th:src="@{ /js/teamConfig.js }"></script>    
    </body>    
        
</html>