<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8" />
<meta name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>SBS Team Project</title>
<!-- Favicon-->
<!-- Bootstrap icons-->
<link
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
    rel="stylesheet" type="text/css" />
<!-- Google fonts-->
<link
    href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic"
    rel="stylesheet" type="text/css" />
<!-- Core theme CSS (includes Bootstrap)-->
<link href="/css/styles.css" rel="stylesheet" />
<link href="/css/calendar.css" rel="stylesheet" />
<link href="/css/paging.css" rel="stylesheet" />
</head>
<body>
<div id="jb-container">
<div id="jb-header">
<nav class="navbar navbar-light static-top">
    <div class="container">
        <input type="text" class="navbar-brand" th:value="${team.teamName}"
        style="background-color:transparent; border:0; font-family:'Noto-Sans-Korean', sans-serif; font-size: 30px;" readonly disabled/> 
    </div>
</nav>
</div>
		<div id="jb-sidebar-left">
			<div class="teamPhoto">
				<img class="teamImage" id="teamImage"
					th:src="@{/image/display?fid={teamFid} (teamFid = ${team.fid}) }"
					width="220" height="200" />
			</div>
			<br />
			<div class="sidebarTeamInfo">
				<h2>[[ ${ team.teamName } ]]</h2>
				<hr style="width: 200px"/>
				<h7>리더 : [[ ${ team.leader } ]]</h7>
				<hr style="width: 200px"/>
				<h4>
					정원 : <input class="joinMembers" readOnly disabled/> / [[${ team.maxMember }]]명
				</h4>
				<hr style="width: 200px"/>
					<h6>
						<input class="createTimeTeam" readOnly disabled/>
					</h6>
				<hr style="width: 200px"/>
				<textarea class="teamInfoDetail" readOnly disabled>[[${ team.purpose }]]</textarea>
			</div>
			<br />
			<div class="sidebarUserInfo">
				<h5>[[ ${ #authentication.name } ]] 님 어서오세요!</h5>
				<h3></h3>
			</div>
		</div>

		<div id="jb-sidebar-right">
				<i class="bi-window m-auto text-primary"></i> 
				<br/>
					<a class="btn btn-primary"
					th:href="@{ /activity/create?id={id} (id = ${ team.teamId }) }"
					style="margin: 0px;">활동 등록</a>
				<br/>
				<i class="bi bi-newspaper m-auto text-success"
				   th:if="${#authentication.name == team.leader}"></i>
				<br/>
					<a class="btn btn-success"
					th:href="@{ /post/create?id={id} (id = ${ team.teamId }) }"
					th:if="${#authentication.name == team.leader}"
					style="margin: 0px;">공지 등록</a>
				<br/>
				<i class="bi bi-gear" th:if="${#authentication.name == team.leader}"></i>
				<br/>	 
					<a class="btn btn-warning"
					th:href="@{/team/teamConfig?teamId={teamId} (teamId = ${ team.teamId })}"
					th:if="${#authentication.name == team.leader}"
					style="margin: 0px;">관리하기</a>
			</div>
		<!-- Masthead-->
<div id="jb-content">
    <div class="row">
        <div>
            <div>
             <input id="id" class="form-control" th:value="${ team.teamId }" readonly style="display:none;"/>
                <div class="card-body bg-light col-auto" id="mypageListMain" 
               		 style="text-align: center; border-radius : 5px 5px 5px 5px;
               		 margin-bottom: 5px;" >
                <div style="width: 800px; margin-left: auto; margin-right: auto;">
                                        <h3 class="card-title">공지사항</h3>
                        <table id="noticePostTable"
                            class="table table-hover">
                        </table>
                    </div>
                    <div>
                        <ul id="noticePostul"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Icons Grid-->
<div class="container position-relative"></div>
<section class="features-icons bg-light text-center"
	style="border-radius : 5px 5px 5px 5px; margin-bottom: 5px;" >
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3" style="margin-left:auto; margin-right:auto;">
    <!-- week calendar -->
    <input type="text" class="teamJoinDay" id="teamJoinDay" style="display: none;"/>
    <input type="text" class="activityId" id="activityId" style="display: none;">
    <input type="text" class="teamCreatedTime" id="teamCreatedTime" th:value="${ team.createdTime }" style="display: none;">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="calendar-layout">
                    <div class="calendar">
                        <div class="calendar-header">
                            <span class="calendar-yearmonth"></span>
                            <div class="calendar-controls">
                                <button type="button" class="calendar-prev">&lt;</button>
                                <button type="button" class="calendar-next">&gt;</button>
                                <button type="button" class="calendar-today">오늘</button>
                                <button type="button" class="calendar-reList">F5</button>
                            </div>
                            
                            <div class="calendar-views">
                            <!--
                <button type="button" class="calendar-view-week">주간</button>
                <button type="button" class="calendar-view-year">연간</button>
                <button type="button" class="calendar-view-month">월간</button>
                 -->
                            </div>
                        </div>
                        <div id="calendar"></div>
                    </div>
                </div>
                <br/><br/><br/>
                <div>
                    <h1 class="activityTitle">진행중인 활동</h1>
                </div>
                <div style="width: auto">
                    <hr width="800px"
                        style="margin-left: auto; margin-right: auto; margin-bottom : 0; padding: 0;">
                    <div
                        style="width: 800px; margin-left: auto; margin-right: auto;">
                        <table id="dynamicTable" class="table table-hover">
                        </table>
                    </div>
                    <div>
                        <ul id="progresspagingul"></ul>
                    </div>
                </div>
                <br/><br/><br/>
                <div>
                    <h1>종료된 활동</h1>
                </div>
                <hr width="800px"
                        style="margin-left: auto; margin-right: auto; margin-bottom : 0; padding: 0;">
                <div
                    style="width: 800px; margin-left: auto; margin-right: auto;">
                                    <table id="dynamicEndTable" class="table table-hover">
                                    </table>
                                </div>
                                <div>
                                    <ul id="pastpagingul"></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>   
    <div class="modal fade" id="mylistModal"
                tabindex="-1" aria-labelledby="mylistModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5"
                                id="mylistModalLabel">참여확인</h1>
                            <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <!-- 팀아이디 -->
                            <input type="hidden"
                                id="modalTeamId" readonly />
                            <!-- 사용자아이디 -->
                            <input type="hidden"
                                id="modalUserId" readonly />
                            <!-- 활동아이디 -->
                            <input type="hidden"
                                id="modalActivityId" readonly />
                            <!-- 사용자이름 -->
                            <input type="hidden"
                                id="modalNickName" readonly />    
                        </div>
                        <div class="modal-footer">
                            <button type="button"
                                class="btn btn-outline-secondary"
                                data-bs-dismiss="modal">취소</button>
                            <button type="button"
                                id="modalBtnSuccess"
                                class="btn btn-outline-success">확인</button>
                        </div>
                    </div>
                </div>
            </div>
</section>
</div> <!-- jb - content -->
<!-- Footer-->
<div id="jb-footer">
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                <ul class="list-inline mb-2">
                    <li class="list-inline-item"><a href="#!">검색</a></li>
                    <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item"><a href="#!">마이페이지</a></li>
                    <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item"><a href="#!">모임 참석</a></li>
                    <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item"><a href="#!">공지 사항 Policy</a></li>
                </ul>
                <p class="text-muted small mb-4 mb-lg-0">&copy;SBSProject :: su :: choo :: lee :: jang :: kim :: kim .com ..;</p>
            </div>
            <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item me-4"><a href="#!"><i
                            class="bi-facebook fs-3"></i></a></li>
                    <li class="list-inline-item me-4"><a href="#!"><i
                            class="bi-twitter fs-3"></i></a></li>
                    <li class="list-inline-item"><a href="#!"><i
                            class="bi-instagram fs-3"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
</div>
</div>
<div class="popup_layer" id="popup_layer" style="display: none;">
<div class="popup_box">
    <div style="height: 10px; width: 375px; float: top;">
    <a href="javascript:closePop();">
    <img src="/assets/img/ic_close.svg" class="m_header-banner-close"
        width="30px" height="30px"></a>
</div>
<!--팝업 컨텐츠 영역-->
        <div class="popup_cont">
        </div>
    </div>
</div> 
<!-- Ajax axios JS-->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<!-- Jquery JS-->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<!-- Bootstrap core JS-->
<script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- kakao -->
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=abaecbd1f25256beda80cb6e2837cf2b&libraries=services"></script>
<!-- Calendar JS -->
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
    <script th:inline="javascript" th:src="@{/js/calendar.js}"></script>
</body>
</html>
