<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{ layout/layout }">

<div layout:fragment="content">
    <div class="card my-2">
        <div class="card-header">
            <h1>그룹 목록 페이지</h1>
        </div>
        <div class="card-body">

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>번호</th>
                        <th>그룹 이름</th>
                        <th>비밀번호</th>
                        <th>팀장</th>
                        <th>카테고리</th>
                        <th>최대 인원</th>
                        <th>인원수...</th>
                    </tr>
                </thead>
                <tbody>
                    
                    <tr th:each=" team : ${ teams }">
                        <td th:text="${ team.teamId }"></td>
                        <td>
                            <a th:href="@{/team/teamInfo?teamId={teamId} (teamId = ${ team.teamId }) }" th:text="${ team.teamName }">  </a>
                        </td>
                        <td th:text="${ team.teamPassword}"></td>
                        <td th:text="${ team.teamLeader }"></td>
                        <td th:text="${ team.CategoryId }"></td>
                        <td th:text="${ team.maxMember }"></td>
                        <td th:text="공사중"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


</div>

</html>