<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>Spring Boot</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" th:href="@{ /assets/favicon.ico }" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link th:href="@{ /css/styles.css }" rel="stylesheet" />
    </head>
    
    <body>
        <div class="d-flex" id="wrapper">
            <!-- Sidebar-->
            <div class="border-end bg-white" id="sidebar-wrapper">
                <div class="sidebar-heading border-bottom bg-light">Start Bootstrap</div>
                <div class="list-group list-group-flush">
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Dashboard</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Shortcuts</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Overview</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Events</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Profile</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Status</a>
                </div>
            </div>
            <!-- Page content wrapper-->
            <div id="page-content-wrapper">
                <!-- Top navigation-->
                <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                    <div class="container-fluid">
                        <button class="btn btn-primary" id="sidebarToggle">Toggle Menu</button>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                                <li class="nav-item active"><a class="nav-link" th:href="@{ / }">Home</a></li>
                                <li class="nav-item active"><a class="nav-link" th:href="@{ /post/create }">새 포스트</a></li>
                                <!-- 로그인하지 않은 상태 -->
                                <th:block sec:authorize="isAnonymous()">
                                    <li class="nav-item"><a class="nav-link" th:href="@{ /member/signup }">회원 가입</a></li>
                                    <li class="nav-item"><a class="nav-link" th:href="@{ /login }">로그인</a></li>
                                </th:block>
                                <!-- 로그인 상태 -->
                                <th:block sec:authorize="isAuthenticated()">
                                    <li class="nav-item">
                                        <a class="nav-link" th:href="@{ /logout }">
                                            <span class="text-info" sec:authentication="name"></span>로그아웃
                                        </a>
                                    </li>
                                </th:block>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="#!">Action</a>
                                        <a class="dropdown-item" href="#!">Another action</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#!">Something else here</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <!-- Page content: 메인 컨텐트가 삽입될 위치 -->
                <div class="container-fluid" layout:fragment="content">
                    
                </div>
            </div>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script th:src="@{ /js/scripts.js }"></script>
        <!-- 페이지에 필요한 JS를 삽입할 위치 -->
        <th:block layout:fragment="script"></th:block>
    </body>
</html>
