<!DOCTYPE html>
<html 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
        <title>Main Page</title>
        <meta content="" name="description">
        <meta content="" name="keywords">
<!--     Favicon -->        
        <link href="assets/img/favicon.png" rel="icon"/>
        <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon"/>
<!--     Google fonts -->        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
              href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
              rel="stylesheet">
<!--    Vendor CSS Files -->
        <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
        <link href="assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" />
        <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet" />
        <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />
        <link href="assets/vendor/aos/aos.css" rel="stylesheet" />
<!--    Template Main CSS File -->
        <link href="assets/css/main.css" rel="stylesheet">
    </head>

    <body>    
<!--         ======= Header ======= -->
        <header id="header" class="header d-flex align-items-center fixed-top">
            <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
                <a th:href="@{ / }" class="logo d-flex align-items-center">
<!--                     Uncomment the line below if you also wish to use an image logo -->
<!--                     <img src="assets/img/logo.png" alt=""> -->
                    <h1>SBS</h1>
                </a> 
                <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
                <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
                <nav id="navbar" class="navbar">
<!--                          로그인하지 않은 상태 -->
                    <ul> 
                        <th:block sec:authorize="isAnonymous()">
                            <li>
                                <a th:href="@{ /user/signIn }">Sign In</a>
                            </li>
                            <li>
                                <a th:href="@{ /user/signUp }">Sign Up</a>
                            </li>
                        </th:block>
                    </ul>
<!--                            로그인 상태 -->
                    <ul>
                    <th:block sec:authorize="isAuthenticated()">                   
                        <strong><span sec:authentication="name" style="color: ghostwhite;"></span></strong>
                        <li style="color: ghostwhite; font-family: Inter;">님, 반갑습니다! </li>
                        <li><a th:href="@{ /user/myPage?userName={userName} (userName = ${ #authentication.name }) }">My Page</a></li>
                        <li><a th:href="@{ /user/myTeamList?userName={userName} (userName = ${ #authentication.name }) }">My Team List</a></li>
                        <li><a th:href="@{ /team/teamCreate }">Team Create</a></li>
                        <li><a th:href="@{ /logout }">Log Out</a></li>                    
                    </th:block>
                    </ul>
                </nav>
            </div>            
        </header>
<!--         End Header -->
<!-- ======= Hero Section ======= -->
        <section id="hero" class="hero d-flex align-items-center">
            <div class="container position-relative">
                <div class=" row justify-content-center">
                    <div class="col-xl-6">
                        <div class="text-center text-white">    
<!--                                                         Page heading -->    
                            <h1 class="mb-5" style="color: black;">모임 검색</h1>
                            <form 
                                  class="form-subscribe" 
                                  id="contactForm"
                                  data-sb-form-api-token="API_TOKEN"
                                  th:action="@{ / }" 
                                  method="get">
                                  
                                <div class="row">
                                    <div class="col">
                                        <input
                                            class="form-control form-control-lg"
                                            id="searchMain" 
                                            type="text"
                                            name="keyword"
                                            placeholder="모임 검색하기"
                                            data-sb-validations="required,email"
                                            required 
                                            autofocus />
                                    </div>
                                    <div class="col-auto">
                                        <input 
                                              type="submit"
                                              class="btn btn-primary"
                                              value="검색" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="col-lg-5 order-1 order-lg-2 hero-img" data-aos="zoom-out">
                <img src="assets/img/hero-img.svg" class="img-fluid mb-3 mb-lg-0" alt="">
            </div>
        </section>
        <!-- End Hero Section -->
        <main id="main">    
            <!-- ======= Featured Services Section ======= -->
            <section id="featured-services" class="featured-services">
                <div class="container">    
                    <div class="row gy-4">
                        <h3>모임 리스트</h3>                            
                        <p class="lead mb-0">검색결과</p>                        
                        <div>
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>팀 번호</th>
                                        <th>팀 이름</th>
                                        <th>팀 소개</th>
                                        <th>팀 리더</th>
                                        <th>최대 인원</th>
                                        <th>현 인원수</th>
                                        <th>입장 여부</th>
                                    </tr>
                                </thead>                                
                                <tbody id = showSearchedTeams></tbody>
                            </table>
                        </div>
                    </div>
                </div>         
<hr/>            
                <div id="joinners"></div>    
        <!--         !!!!!!!가입하기 모달!!!!!!! -->
                <div class="modal fade" id="teamJoinModal" tabIndex="-1" aria-labelledby="teamJoinModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="teamJoinModalLabel">모임 비밀번호를 입력하세요.</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <!-- 팀 아이디 삽입 위치  -->
                                <input type="hidden" id="modalTeamId" readonly />
                                <!-- 팀 비밀번호 삽입 위치  -->
                                <input type="hidden" id="modalTeamPassword" class="form-control" />
                                <!-- 팀 응답 삽입 위치 -->
                                <input type="text" id="modalTeamPasswordInput" class="form-control" />
            
                                <div class="my-2 d-none" id="ok">
                                    <p class="text-success">비밀번호 확인!</p>
                                </div>
            
                                <div class="my-2 d-none" id="nok">
                                    <p class="text-danger">비밀번호를 확인하세요.</p>
                                </div>
            
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">취소</button>
                                    <th:block sec:authorize="isAnonymous()">
                                        <a class="btn btn-success" th:href="@{ /user/signIn }">들어가기</a>
                                        <!-- ㄴ 로그아웃 상태일 시, 들어가기를 누르면 로그인 페이지로 넘어감. -->
                                    </th:block>
                                    <th:block sec:authorize="isAuthenticated()">
                                        <a id="modalBtnJoin" class="btn btn-outline-success">들어가기</a>
                                    </th:block>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end Modal -->
            
                <!--        !!!!!!! 가입 불가 모달 !!!!!!! -->
                <div class="modal fade" id="teamForbiddenModal" tabIndex="-1" aria-labelledby="teamForbiddenModal" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="teamForbiddenModal">이런... 가입할 수가 없군요...</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
            
                            <div class="modal-body">
                                <input 
                                      type="text"
                                      value="정원이 초과되었거나, 다른 사유로 인해 모임에 가입할 수 없습니다. 팀장에게 문의하세요."
                                      class="form-control" 
                                      readonly />
                            </div>
            
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">확인</button>
                            </div>
                        </div>
                    </div>            
                </div>                
            </section>
                    <!-- End Featured Services Section -->          
        </main>
        <!-- End #main -->
    
        <!-- ======= Footer ======= -->
        <footer id="footer" class="footer">    
            <div class="container">
                <div class="row gy-4">
                    <div class="col-lg-5 col-md-12 footer-info">
                        <a href="index.html" class="logo d-flex align-items-center"> 
                            <span>SBS</span>
                        </a>
                        <p>서범수,김용훈,김지훈,추지훈,이존규,장민석
                        의 팀 프로젝트 페이지 입니다.</p>
                        <div class="social-links d-flex mt-4">
                            <a href="#" class="twitter">
                                <i class="bi bi-twitter"></i>
                            </a> 
                            <a href="#" class="facebook">
                                <i class="bi bi-facebook"></i>
                            </a> 
                            <a href="#" class="instagram">
                                <i class="bi bi-instagram"></i>
                            </a>
                            <a href="#" class="linkedin">
                                <i class="bi bi-linkedin"></i>
                            </a>
                        </div>
                    </div>
    
                    <div class="col-lg-2 col-6 footer-links">
                        <h4>링크</h4>
                        <ul>
                            <li>
                                <a href="#">홈</a>
                            </li>
                            <li>
                                <a href="#">검색</a>
                            </li>
                            <li>
                                <a href="#">마이서비스</a>
                            </li>
                            <li>
                                <a href="#">공지사항</a>
                            </li>
                        </ul>
                    </div>
    
                    <div class="col-lg-2 col-6 footer-links">
                        <h4>서비스</h4>
                        <ul>
                            <li>
                                <a href="#">Web Design</a>
                            </li>
                            <li>
                                <a href="#">Web Development</a>
                            </li>
                            <li>
                                <a href="#">Product Management</a>
                            </li>
                            <li>
                                <a href="#">Marketing</a>
                            </li>
                            <li>
                                <a href="#">Graphic Design</a>
                            </li>
                        </ul>
                    </div>
    
                    <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
                        <h4>문의하기</h4>
                        <p>
                            서울특별시<br />
                            강남구 테헤란로 124<br />
                            삼원타워 <br />
                            <br /> 
                            <strong>Phone:</strong> +82 010 0000 0000<br /> 
                            <strong>Email:</strong>info@example.com<br />
                        </p>    
                    </div>    
                </div>
            </div>
    
            <div class="container mt-4">
                <div class="copyright">
                    &copy; Copyright <strong><span>EBS</span></strong>. All Rights Reserved
                </div>
                <div class="credits">
                    <!-- All the links in the footer should remain intact. -->
                    <!-- You can delete the links only if you purchased the pro version. -->
                    <!-- Licensing information: https://bootstrapmade.com/license/ -->
                    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/logis-bootstrap-logistics-website-template/ -->
                </div>
            </div>    
        </footer>
        <!-- End Footer -->
        <!-- End Footer -->
    
        <a href="#" class="scroll-top d-flex align-items-center justify-content-center">
            <i class="bi bi-arrow-up-short"></i>
        </a>    
        <div id="preloader"></div>    
        <!-- Vendor JS Files -->
        <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
        <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
        <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
        <script src="assets/vendor/aos/aos.js"></script>
        <script src="assets/vendor/php-email-form/validate.js"></script>
    
        <!-- Template Main JS File -->
        <script src="assets/js/main.js"> </script>
        <script th:src="@{/js/home.js}"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
            <script th:inline="javascript">
                // 타임리프 inline 기능을 이용하면 자바스크립트 안에서 타임리프 속성을 이용할 수 있음.
                // 로그인 사용자 아이디를 자바스크립트 변수에 저장.            
                const loginUser = [[ ${ #authentication.name } ]];
                const searchedTeams = [[${ list }]];
            </script>
    </body>
</html>